body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: white;
  position: absolute;
  top: 20px;
  left: 25%;
  z-index: 999;
  font-weight: bold;
  font-size: 4.5em;
  text-shadow: -2px 2px 2px #294b70;
}

button:focus,
button:active {
  outline: 0;
}

.brick {
  position: relative;
  width: 67px;
  height: 30px;
  margin: 0;
  padding: 2px;
  background-color: gray;
  display: inline-block;
  float: right;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  background-image: url('../img/brick.jpeg');
  background-size: cover;
}

.brick:hover {
  background-image: none;
}

.sm-brick {
  position: relative;
  width: 33px;
  height: 15px;
  margin: 0;
  padding: 2px;
  background-color: gray;
  display: inline-block;
  float: right;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  background-image: url('../img/brick.jpeg');
  background-size: cover;
}

.sm-brick:hover {
  background-image: none;
}

.col {
  height: 100%;
}

#wall {
  padding: 0;
  bottom: -24px;
  right: 20px;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

#ground {
  background-color: green;
  height: 15%;
}

#sky {
  height: 85%;
  background-color: skyblue;
}

#white-house {
  position: absolute;
  bottom: -33px;
  width: 785px;
  right: -351px;
}

.trump {
  position: absolute;
  bottom: -33px;
  left: 86px;
  height: 400px;
}

#add-brick {
  position: absolute;
  right: 40px;
  bottom: -42px;
}

.form-control {
  width: 260px;
  right: 160px;
  bottom: -42px;
  position: absolute;
  height: 45px;
}
